* text=auto working-tree-encoding=UTF-8
*.vue text working-tree-encoding=UTF-8
*.js text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8
*.css text working-tree-encoding=UTF-8
*.py text working-tree-encoding=UTF-8
