COMPOSE_PROJECT_NAME=xiao-performance-staging
APP_ENV=staging
PERFORMANCE_DB_NAME=xiao_performance_staging
PERFORMANCE_DB_USER=perf_app
MYSQL_ROOT_PASSWORD=
MYSQL_APP_PASSWORD=
JWT_SECRET_KEY=
PERF_TEST_PASSWORD=
PERF_OWNER_LOGIN_CODE=
PERF_DATASET_ACK=PERF_DATASET_V1
ADMIN_RELEASE_SHA=823708c1cbac8ba7c730715afafbecd27d641f09
